<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <title>Khu vực giới hạn!</title>

        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/core.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/components.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/pages.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/responsive.css') }}" rel="stylesheet">

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{{ url_for('static', filename='assets/js/modernizr.min.js') }}"></script>

    </head>
    <body>

    	<div class="account-pages"></div>
		<div class="clearfix"></div>

        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error"><span class="text-primary">4</span><i class="ti-face-sad text-pink"></i><span class="text-info">3</span></div>
                <h2>Forbidden</h2><br>
                <p class="text-muted">Bạn không có quyền truy cập khu vực này.</p>
                <p class="text-muted">Liên hệ <a href="/awesome-team">Teko Logistic Team</a> để được trợ giúp.</p>
                <br>
{#                <a class="btn btn-default waves-effect waves-light" href="index.html"> Return Home</a>#}

            </div>
        </div>


    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/detect.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/fastclick.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.blockUI.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.app.js') }}"></script>

	</body>
</html>