server {
	listen 80;
	listen [::]:80;
	server_name {{ domain_name }};
	return 301 https://$host$request_uri;
}

server {
    listen       443 ssl;
    server_name  {{ domain_name }};

    #   Allowed and denied host
    allow all;

    #   Logs
    access_log  /var/log/nginx/{{ domain_name }}.ssl.access.log timed_combined;
    error_log   /var/log/nginx/{{ domain_name }}.ssl.error.log;

    #   SSL
    ssl_certificate /etc/nginx/ssl/wildcard.teko.vn.crt;
    ssl_certificate_key /etc/nginx/ssl/wildcard.teko.vn.key;
    ssl_protocols       TLSv1.1 TLSv1.2;

    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    keepalive_timeout 60;

    set_real_ip_from 0.0.0.0;
    real_ip_header X-Real-IP;
    real_ip_recursive on;

    add_header X-Cache-Status $upstream_cache_status;
    add_header Cache-Control no-cache;

    root /var/www/{{ domain_name }}/;

    index index.html index.htm;

    location / {
        #proxy_cache_valid 200 302 1m; # For responses with HTTP status code is 200 or 302, cached response in 1 minute.
        #proxy_cache  {{ domain_name }};
        proxy_read_timeout 600s;
        try_files $uri /index.html =404;
        proxy_set_header  Host $host;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_set_header  X-Forwarded-For $remote_addr;
        proxy_set_header  X-Forwarded-Host $remote_addr;

        proxy_http_version 1.1;
        proxy_set_header Connection "";
    }
}
